<h1><%= @user.username %>'s profile</h1>

<div>
  <%= link_to "Edit Your Profile", edit_user_path(@user) %>
</div>

<h3>Articles</h3>

<%= will_paginate @articles %>

<%= render 'articles/article' %>

<%= button_to 'Articles Home', articles_path, method: :get %>

<%= will_paginate @articles %>
